version: '3.8'

services:
  # Reverse Proxy
  traefik:
    image: traefik:v2.10
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080" # Traefik Dashboard (optional)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web

  # Web CV
  web-cv:
    build: .
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web-cv.rule=Host(`home.luisandresvelazquez.com`)"
      - "traefik.http.routers.web-cv.entrypoints=web"
    networks:
      - web

  # n8n App
  n8n:
    image: n8nio/n8n:latest
    restart: unless-stopped
    environment:
      - GENERIC_TIMEZONE=Europe/Berlin
      - WEBHOOK_URL=http://n8n.luisandresvelazquez.com/
    volumes:
      - ./n8n_data:/home/node/.n8n
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.rule=Host(`n8n.luisandresvelazquez.com`)"
      - "traefik.http.routers.n8n.entrypoints=web"
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"
    networks:
      - web

networks:
  web:
    external: false
