services:
  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web_proxy

networks:
  web_proxy:
    name: web_proxy
    driver: bridge
    attachable: true

volumes:
  caddy_data:
  caddy_config:
